p{
  color: blue;
}

#Titulo{
  color: #70e5ae;
}

.texto_verde{
  color: green;
}

#base{
  height: 10px;
  background: red;
}

#container{
  background: blue;
  color: white;
  padding: 10px;
}



.voltar{
  border: solid 1px rgb(80, 75, 75);
  border-radius: 4px;
  color: rgb(17, 219, 142);
  text-decoration: none;
  font-size: 1.5rem;
}

.voltar:hover{
  border: none;
  background-color: rgb(17, 219, 142);
  color: white;
}